type hal_light_sm8150, coredomain, domain;
hal_server_domain(hal_light_sm8150, hal_light)

type hal_light_sm8150_exec, exec_type, file_type;
init_daemon_domain(hal_light_sm8150)

allow hal_light_sm8150 sysfs_white_led:file rw_file_perms;
allow hal_light_sm8150 sysfs_white_led:dir search;
